# @rhinodavid KiCad Parts Library

{{> _main}}

## Parts

{{#each parts}}
### {{ part_number }}

<div display="flex">
    {{#if has_symbol}}
        <img alt="Symbol available" src="./docs/readme/symbol_icon_alternate.png" width="{{ ../icon_size }}" height="{{ ../icon_size }}" />
    {{else}}
        <img alt="Symbol unavailable" src="./docs/readme/symbol_icon.png" width="{{ ../icon_size }}" height="{{ ../icon_size }}" />
    {{/if}}
    {{#if has_footprint}}
        <img alt="Footprint available" src="./docs/readme/footprint_icon_alternate.png" width="{{ ../icon_size }}" height="{{ ../icon_size }}">
    {{else}}
        <img alt="Footprint unavailable" src="./docs/readme/footprint_icon.png" width="{{ ../icon_size }}" height="{{ ../icon_size }}">
    {{/if}}
    {{#if has_model}}
        <img alt="Model available" src="./docs/readme/model_icon_alternate.png" width="{{ ../icon_size }}" height="{{ ../icon_size }}" />
    {{else}}
        <img alt="Model unavailable" src="./docs/readme/model_icon.png" width="{{ ../icon_size }}" height="{{ ../icon_size }}" />
    {{/if}}
</div>

<p>

{{{ description }}}

</p>

{{#if images.length }}
<div display="flex">
{{#each images}}
    <img src="./docs/readme/img/{{this}}" width="{{ ../../image_size }}" height="{{ ../../image_size }}" />
{{/each}}
</div>
{{/if}}

{{/each}}
